datetime
pyfiglet
PyYAML
git+https://github.com/powerfulseal/powerfulseal.git
requests
boto3
google-api-python-client
azure-mgmt-compute
azure-keyvault
azure-identity
kubernetes==12.0.0a1
oauth2client>=4.1.3
python-openstackclient
gitpython
paramiko
setuptools
