coverage
datetime
pyfiglet
PyYAML>=5.1
requests
boto3
google-api-python-client
azure-mgmt-compute
azure-keyvault
azure-identity
kubernetes
oauth2client>=4.1.3
python-openstackclient
gitpython
paramiko
setuptools==63.4.1
openshift-client
python-ipmi
podman-compose
docker-compose
jinja2==3.0.3
itsdangerous==2.0.1
werkzeug==2.0.3
aliyun-python-sdk-core
aliyun-python-sdk-ecs
arcaflow-plugin-sdk
git+https://github.com/vmware/vsphere-automation-sdk-python.git