apiVersion: v1
kind: Pod
metadata:
  name: {{pod_name}}
  namespace: {{namespace}}
spec:
  {% if service_account %}
  serviceAccountName: {{ service_account }}
  {%endif%}
  {% if host_network %}
  hostNetwork: true
  {%endif%}
  {% if taints %}
  tolerations:
  {% for toleration in taints %}
  - key: "{{ toleration.key }}"
    operator: "{{ toleration.operator }}"
    {% if toleration.value %}
    value: "{{ toleration.value }}"
    {% endif %}
    effect: "{{ toleration.effect }}"
  {% endfor %}
  {% endif %}
  hostPID: true
  nodeSelector:
    kubernetes.io/hostname: {{target}}
  containers:
  - name: {{container_name}}
    imagePullPolicy: Always
    image: {{workload_image}}
    securityContext:
      privileged: true
