apiVersion: v1
kind: Pod
metadata:
  name: {{pod_name}}
  namespace: {{namespace}}
spec:
  {% if host_network %}
  hostNetwork: true
  {%endif%}
  nodeSelector:
    kubernetes.io/hostname: {{target}}
  containers:
  - name: fedora
    imagePullPolicy: Always
    image: {{workload_image}}
    securityContext:
      privileged: true
