apiVersion: v1
kind: Pod
metadata:
  name: fedtools
spec:
  hostNetwork: true
  nodeName: {{nodename}}
  containers:
  - name: fedtools
    image: docker.io/fedora/tools
    command:
    - /bin/sh
    - -c
    - "trap : TERM INT; sleep infinity & wait"
    securityContext:
      privileged: true
