apiVersion: v1
kind: Pod
metadata:
  name: modtools
  labels:
    plugin: ssh-node
spec:
  nodeName: {{nodename}}
  containers:
  - name: modtools
    image: busybox
    imagePullPolicy: IfNotPresent
    command:
    - /bin/sh
    - -c
    - |
      sleep infinity
    tty: true
    stdin: true
    stdinOnce: true
    securityContext:
      privileged: true
    volumeMounts:
    - name: host
      mountPath: /host
  volumes:
  - name: host
    hostPath:
      path: /
  hostNetwork: true
  hostIPC: true
  hostPID: true
  restartPolicy: Never