apiVersion: v1
kind: Pod
metadata:
  name: modtools
spec:
  nodeName: {{nodename}}
  containers:
  - name: modtools
    image: docker.io/fedora/tools
    imagePullPolicy: IfNotPresent
    command:
    - /bin/sh
    - -c
    - "trap : TERM INT; sleep infinity & wait"
    tty: true
    stdin: true
    stdinOnce: true
    securityContext:
      privileged: true
    volumeMounts:
    - name: host
      mountPath: /host
  volumes:
  - name: host
    hostPath:
      path: /
  hostNetwork: true
  hostIPC: true
  hostPID: true
  restartPolicy: Never