apiVersion: batch/v1
kind: Job
metadata:
  name: chaos-{{jobname}}
spec:
  template:
    spec:
      nodeName: {{nodename}}
      hostNetwork: true
      containers:
      - name: networkchaos
        image: docker.io/fedora/tools
        command: ["chroot", "/host", "/bin/sh",  "-c", "{{cmd}}"]
        securityContext:
          privileged: true
        volumeMounts:
        - name: host
          mountPath: /host
      volumes:
      - name: host
        hostPath:
          path: /

      restartPolicy: Never
  backoffLimit: 0
