apiVersion: v1
kind: Pod
metadata:
  name: modtools-{{regex_name}}
spec:
  nodeName: {{nodename}}
  containers:
  - name: modtools
    image: {{image}}
    imagePullPolicy: IfNotPresent
    command:
    - /bin/sh
    - -c
    - "trap : TERM INT; sleep infinity & wait"
    tty: true
    stdin: true
    stdinOnce: true
    securityContext:
      privileged: true
    volumeMounts:
    - name: host
      mountPath: /host
  volumes:
  - name: host
    hostPath:
      path: /
  hostNetwork: true
  hostIPC: true
  hostPID: true
  restartPolicy: Never
