name: Docker Image CI
on:
  push:
    tags: ['v[0-9].[0-9]+.[0-9]+']
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v3
    - name: Build the Docker images
      if: startsWith(github.ref, 'refs/tags')
      run:  |
        docker build --no-cache -t quay.io/krkn-chaos/krkn containers/ --build-arg TAG=${GITHUB_REF#refs/tags/}
        docker tag quay.io/krkn-chaos/krkn quay.io/redhat-chaos/krkn
        docker tag quay.io/krkn-chaos/krkn quay.io/redhat-chaos/krkn:${GITHUB_REF#refs/tags/}

    - name: Test Build the Docker images
      if: ${{ github.event_name == 'pull_request' }}
      run: |
        docker build --no-cache -t quay.io/krkn-chaos/krkn containers/ --build-arg PR_NUMBER=${{ github.event.pull_request.number }}
    - name: Login in quay
      if: startsWith(github.ref, 'refs/tags')
      run: docker login quay.io -u ${QUAY_USER} -p ${QUAY_TOKEN}
      env:
        QUAY_USER: ${{ secrets.QUAY_USERNAME }}
        QUAY_TOKEN: ${{ secrets.QUAY_PASSWORD }}
    - name: Push the KrknChaos Docker images
      if: startsWith(github.ref, 'refs/tags')
      run: |
        docker push quay.io/krkn-chaos/krkn
        docker push quay.io/krkn-chaos/krkn:${GITHUB_REF#refs/tags/}
    - name: Login in to redhat-chaos quay
      if: startsWith(github.ref, 'refs/tags/v')
      run: docker login quay.io -u ${QUAY_USER} -p ${QUAY_TOKEN}
      env:
        QUAY_USER: ${{ secrets.QUAY_USER_1 }}
        QUAY_TOKEN: ${{ secrets.QUAY_TOKEN_1 }}
    - name: Push the RedHat Chaos Docker images
      if: startsWith(github.ref, 'refs/tags')
      run: | 
        docker push quay.io/redhat-chaos/krkn
        docker push quay.io/redhat-chaos/krkn:${GITHUB_REF#refs/tags/}
    - name: Rebuild krkn-hub
      if: startsWith(github.ref, 'refs/tags')
      uses: redhat-chaos/actions/krkn-hub@main
      with:
        QUAY_USER: ${{ secrets.QUAY_USERNAME }}
        QUAY_TOKEN: ${{ secrets.QUAY_PASSWORD }}
